.share-modal-wrapper, .upload-modal-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6); /* 後を半透明にする */
	z-index: 100;
	display: none;
}

.modal-container {
	position: relative;
}

.modal {
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 20%);
	background-color: #f5f7f8;
	padding: 20px 0 40px;
	border-radius: 10px;
	width: 450px;
	height: auto;
	text-align: center;
}

.fa-times {
	position: absolute;
	top: 12px;
	right: 12px;
	color: rgba(128, 128, 128, 0.46);
	cursor: pointer;
}

.modal a {
	display: block;
}

.modal input[type="submit"] {
	color: #0a36fc;
	background-color: #d0e6fd;
	border-radius: 5px;
}
.modal input[type="submit"]:hover {
	background-color: #b6d9ff;
}
